.main-container {
    /* padding: 10px; */
    padding-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

}

form {
    display: flex;
    align-items: flex-end;
    gap: 5rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.4rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 0.5rem;
}